
<form [formGroup]="userForm">
    <h2>Create User Form</h2><br>
    <label for="">Name : </label>
    <input type="text" formControlName="name">
    <div *ngIf="userForm.get('name')?.touched && userForm.get('name')?.invalid">
        <p class="error" *ngIf="userForm.get('name')?.errors?.['required']">Name is required</p>
        <p class="error" *ngIf="userForm.get('name')?.errors?.['minlength']">Minimum 3 charecters</p>
        <p class="error" *ngIf="userForm.get('name')?.errors?.['maxlength']">Maximum 10 charecters</p>
    </div><br>
    <label for="">Age :</label>
    <input type="number" formControlName="age">
    <div *ngIf="userForm.get('age')?.touched && userForm.get('age')?.invalid">
        <p class="error" *ngIf="userForm.get('age')?.errors?.['required']">Name is required</p>
        <p class="error" *ngIf="userForm.get('age')?.errors?.['min']">Minimum 18 years</p>
        <p class="error" *ngIf="userForm.get('age')?.errors?.['max']">Maximum 60 years</p>
    </div><br>
    <label for="">Email :</label>
    <input type="text" formControlName="email">
    <div *ngIf="userForm.get('email')?.touched && userForm.get('email')?.invalid">
        <p class="error" *ngIf="userForm.get('email')?.errors?.['required']">Email is required</p>
        <p class="error" *ngIf="userForm.get('email')?.errors?.['email']">Eamil Format</p>
    </div><br>
    <label for="">Phone :</label>
    <input type="number" formControlName="phone">
    <div *ngIf="userForm.get('phone')?.touched && userForm.get('phone')?.invalid">
        <p class="error" *ngIf="userForm.get('phone')?.errors?.['required']">Phone number is required.</p>
        <p class="error" *ngIf="userForm.get('phone')?.errors?.['pattern']">Invalid phone number format.</p>
    </div><br>
    <div formGroupName="address">
        <label for="">City :</label>
        <input type="text" formControlName="city">
        <div *ngIf="userForm.get('address')?.get('city')?.touched && userForm.get('address')?.get('city')?.invalid">
            <p class="error" *ngIf="userForm.get('address')?.get('city')?.errors?.['required']">City is required.</p>
        </div><br>
        <label for="">pin :</label>
        <input type="number" formControlName="pin">
        <div *ngIf="userForm.get('address')?.get('pin')?.touched && userForm.get('address')?.get('pin')?.invalid">
            <p class="error" *ngIf="userForm.get('address')?.get('pin')?.errors?.['required']">Pin is required.</p>

        </div>
    </div><br>


    <label for="">Type</label>
    <input type="radio" name="type" formControlName="type" value="dayScholor">
    <label for="">DayScholor</label>
    <input type="radio" name="type" formControlName="type" value="residential">
    <label for="">Residentiol</label>

    <div *ngIf="userForm.get('type')?.value=='dayScholor'">
        <label for="">BusFee</label>
        <input type="number" formControlName="busFee"><br>
    </div>

    <div *ngIf="userForm.get('type')?.value=='residential'">
        <label for="">Hostel Fee</label>
        <input type="number" formControlName="hostelFee"><br>
    </div><br>

    <label for="">Cards : </label>

    <button class="btn btn-info" (click)="addCard()">Add Card</button><br><br>


    <div formArrayName="cards">
        <div *ngFor="let cards of cardsFormArray.controls; let i=index">
            <div formGroupName="{{i}}">
                <h2>Card {{i+1}}</h2>

                <label for="">Number :</label>
                <input type="number" formControlName="number">
                <div *ngIf="cardsFormArray.controls[i]?.get('number')?.touched && cardsFormArray.controls[i]?.get('number')?.invalid">
                    <p class="error" *ngIf="cardsFormArray.controls[i]?.get('number')?.errors?.['required'] "> Number Required</p>
                </div><br>

                <label for="">Expiry :</label>

                <input type="month" formControlName="expiry"><br>

                <label for="">CVV</label>
                <input type="number" formControlName="cvv"><br>
                <button class="btn btn-danger" (click)="deleteCard(i)">Delete</button>
                <hr>
            </div>
        </div>
    </div>

    <button class="btn btn-primary" (click)="submit()">Submit</button>
</form>
