<div class="parent">
    <div class="left">
        <h1>My Website</h1><hr>
        <h4 routerLink="home">Home</h4>
        <h4 routerLink="welcome">Welcome</h4>
        <h4 routerLink="databinding">Data Binding</h4>
        <h4 routerLink="registration">Registration</h4>
        <h4 routerLink="directives">Directives</h4>
        <h4 routerLink="calculator">Calculator</h4>
        <h4 routerLink="rectangle">Rectangle</h4>
        <h4 routerLink="circle">Circle</h4>
        <h4 routerLink="store">Store</h4>
        <h4 routerLink="employee">Employee</h4>
        <h4 routerLink="vehicle">Vehicle</h4>
        <h4 routerLink="account">Account</h4>
        <h4 routerLink="create-user">User</h4>
        <h4 routerLink="student">Student</h4>
        <h4 routerLink="create_account">Create_account</h4>
        <h4 routerLink="student_id">Student_Id</h4>
        <h4 routerLink="create-student_id">Create-Student_Id</h4>
        <h4 routerLink="mail">Mail</h4>
        <h4 routerLink="weather">Weather</h4>
        <h4 routerLink="create_vehicle">Create_vehicle</h4>
        <h4 routerLink="printerest">Printerest</h4>
        <h4 routerLink="flipkart">Flipkart</h4>
        <h4 routerLink="bmi">BMI</h4><hr><br>
        <button id="db1" routerLink="/login"><b>Logout</b></button>
    </div>
    <div class="right">
        <router-outlet></router-outlet>

    </div>
</div>
